body {
  background-color: beige;
}

.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  line-height: 36px;
}

.exp {
  padding: 8px;
  white-space: nowrap;
}

.exp.highlighted {
  background-color: #22b14c;
  color: white;
}

#box {
  position: relative;
}

#object1,
#object2 {
  width: 98px;
  height: 98px;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  text-align: center;
  line-height: 98px;
  position: absolute;
}

#object1.highlighted,
#object2.highlighted {
  background-color: #22b14c;
  color: white;
}

#object1 {
  left: 50px;
  top: 15px;
  z-index: 1;
}

#object2 {
  left: 160px;
  top: 125px;
}

#instructions {
  width: 350px;
  font-size: 20px;
  line-height: 36px;
  position: absolute;
  left: 300px;
  top: 0;
}

#color {
  color: #22b14c;
  font-weight: bold;
}